@import "tailwindcss";

@font-face {
  font-family: "MyCustomFont";
  src: url("./assets/candara-font-family/Candara_Bold.ttf") format("truetype");
  font-weight: 400;
}

.font-custom {
  font-family: "MyCustomFont", ubuntu;
}

@media print {
  @page {
    size: A4 portrait;
    margin: 0;
  }

  html,
  body {
    margin: 0 !important;
    padding: 0 !important;
    background: white !important;
  }

  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  #challan-print-area {
    page-break-after: avoid !important;
    page-break-before: avoid !important;
  }
}
